<!DOCTYPE html>
<html>
<head>
	<title>Customer App!</title>
	
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css">
	<script type="text/javascript" src="vendor/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="vendor/angular/angular.js"></script>

	<!-- App dependencies -->
	<link rel="stylesheet" type="text/css" href="css/styles.css">

	<script type="text/javascript" src="app/controller/customer.ctrl.v2.js"></script>
	<script type="text/javascript" src="app/service/customer.srv.js"></script>

	<!-- End App dependencies -->

</head>
<body ng-app="customer_module">
	<div class="container" ng-controller="CustomerListController"> 
		<div class="row">
			<div class="col-md-4 col-lg-3" ng-repeat="customer in customers">
				<div class="card">
					<div class="cardHeader">
						{{customer.firstName}} {{customer.lastName}}
						<a href="#" class="cardClose pull-right" ng-click="deleteCustomer(customer.id)">&times;</a>
					</div>
					<div class="cardBody">
						<img ng-src="image/{{customer.gender}}.png" class="cardImage"/>
						{{customer.address}}
						<button class="glyphicon glyphicon-edit edit" ng--click="editCustomer(customer)"></button>

						<div class="cardBodyLeft">
							{{customer.firstName}}
						</div>
						<div class="cardBodyContent">
							{{customer.lastName}}
						</div>
						<div class="cardBodyRight">
							
						</div>
					</div>
				</div>
			</div>
		</div>	

		<div ng-show="editMode">
			</br></br></br>
			<form class="form-horizontal">
			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="email">Address:</label>
			    	<div class="col-sm-10">
			     	 	<input type="text" class="form-control" id="address" placeholder="Enter address" ng-model="currentCustomer.address">
			    	</div>
			  	</div>
			  
			  	<div class="form-group"> 
			    	<div class="col-sm-offset-2 col-sm-10">
			      		<button type="button" ng-click="updateCustomer(currentCustomer)" class="btn btn-default">Submit</button>
			    	</div>
			  	</div>
			</form>

		</div>
	</div>
</body>
</html>