<!DOCTYPE html>
<html>
  <head>
    <title>Sales List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sales List</h1>
    <p>
    	<%
    		sales.forEach(function(sale) {
    	%>

    		<%- sale.category %> > <%- sale.product %>, <%- sale.sales %> <br/>

    	<%
    		});

    	%>
    </p>
  </body>
</html>
