<div class="card">
	<div class="cardHeader">
		{{first}} {{second}}
		<a href="#" class="cardClose pull-right" ng-click="delete(key)">&times;</a>
	</div>
	<div class="cardBody">
		<img ng-src="image/{{pic}}.png" class="cardImage"/>
		{{info}}
		<button class="glyphicon glyphicon-edit edit" ng--click="edit(item)"></button>
	</div>
</div>