<div ng-app="customer_module"	>
	<div class="container" ng-controller="CustomerMenuController">
	 	<div class="row">
		  	<div>
		  		<header>
		  			<h3>
		  				<span class="glyphicon glyphicon-user"></span>
		  				Customer Application
		  			</h3>
		  		</header>
		  	</div>
            <div class="col-md-10">
                <div class="navbar">
                    <ul class="nav navbar-nav">
                        <li  class="toolbaritem">
                            <a><span class="glyphicon glyphicon-th-large"></span> Card View</a>
                        </li>
                        <li class="toolbaritem">
                            <a><span class="glyphicon glyphicon-align-justify"></span> ListView</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <label class="navbarText col-sm-2">Filter:</label>
                            <div class="col-sm-10">
                                <input type="text" class="novalidate form-control" ng-model="searchText" ng-change="filterCustomers()"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	</div>



	<div class="container" ng-controller="CustomerListController"> 
		<div class="row">
			<div class="col-md-4 col-lg-3" ng-repeat="customer in customers">
				<card-view
					first="customer.firstName"
					second="customer.lastName"
					pic="customer.gender"
					info="customer.address"
					delete="deleteCustomer(customer.id)"
					edit="editCustomer(customer)"
				></card-view>
			</div>
		</div>	

		<div ng-show="editMode">
			</br></br></br>
			<form class="form-horizontal">
			  	<div class="form-group">
			    	<label class="control-label col-sm-2" for="email">Address:</label>
			    	<div class="col-sm-10">
			     	 	<input type="text" class="form-control" id="address" placeholder="Enter address" ng-model="currentCustomer.address">
			    	</div>
			  	</div>
			  
			  	<div class="form-group"> 
			    	<div class="col-sm-offset-2 col-sm-10">
			      		<button type="button" ng-click="updateCustomer(currentCustomer)" class="btn btn-default">Submit</button>
			    	</div>
			  	</div>
			</form>
		</div>
	</div>
</div>