<!DOCTYPE html>
<html>
<head>
	<title>Customer App!</title>
	
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css">
	<script type="text/javascript" src="vendor/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="vendor/angular/angular.js"></script>

	<!-- App dependencies -->
	<link rel="stylesheet" type="text/css" href="css/styles.css">

	<script type="text/javascript">
		
		var ng = angular.module("sample_module", []);
		ng.controller("SampleController", function($scope){

			$scope.color = "RED";
		});
		ng.directive("helloWorld", function(){

			return {
				'restrict': 'EA',
				'scope':false,
				'replace':true,
				'link': function(scope, elem, attrs){

					elem.bind("click", function(){
						scope.color = "GREEN";
						scope.$digest();
					});

					elem.bind("mouseover", function(){
						scope.color = "PINK";
						scope.$digest();
					});
				},
				'template': '<button style="background-color:{{color}}">Click</button>'
			};
		});

	</script>
	<!-- End App dependencies -->

</head>
<body ng-app="sample_module">
	<div class="container" ng-controller = "SampleController">
		
		<h1>{{color}}</h1>

		<hello-world></hello-world>
		<hello_world></hello_world>
		<hello:world></hello:world>

		<div hello-world></div>
		<div hello_world></div>
		<div hello:world></div>

	</div>
</body>
</html>