<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css">
	<script type="text/javascript" src="vendor/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="vendor/angular/angular.js"></script>
</head>
<body>

<script type="text/javascript">
	
	var customer_ng = angular.module("customer_module", []);
	var ng = angular.module("sample_module", ["customer_module"]);

	customer_ng.controller("SampleController", function($scope){

		$scope.data = "Hello World";

		$scope.getData = function(){
			return $scope.data; 
		};

		$scope.doTask = function(){

			$scope.data = "Updated Hello World";
		};
	});

</script>


<div class="container" ng-app="sample_module"> 
	<div class="row" ng-controller="SampleController">
		{{data}}
		<a href="#" ng-click="doTask()">Click To Change</a>
	</div>
	<div class="row" ng-controller="SampleController">
		{{getData()}}
		<a href="#" ng-click="doTask()">Click To Change</a>
	</div>
</div>

</body>
</html>