</br></br></br>
<form class="form-horizontal">
  	<div class="form-group">
    	<label class="control-label col-sm-2" for="email">Address:</label>
    	<div class="col-sm-10">
     	 	<input type="text" class="form-control" id="address" placeholder="Enter address" ng-model="currentCustomer.address">
    	</div>
  	</div>
  
  	<div class="form-group"> 
    	<div class="col-sm-offset-2 col-sm-10">
      		<button type="button" ng-click="updateCustomer(currentCustomer)" class="btn btn-default">Submit</button>
    	</div>
  	</div>
</form>